$primary-color: color("deep-purple", "base");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("deep-purple", "accent-4");
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;
$chip-selected-color: $secondary-color !default;