// Import Material Icons
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Include Materialize CSS defaults
@import "~materialize-css/sass/components/_color-variables.scss";

// Include colors
@import "./colors.scss";

// Import Materialize CSS
@import "~materialize-css/sass/materialize.scss";

// Import LazyLoadXT
@import "~lazyloadxt/dist/jquery.lazyloadxt.fadein.css";

// Import Dropify
@import "~dropify/dist/css/dropify.css";

// Variables
$logo-height: 32px;
$comment-button-height: 56px;

.logo-icon {
    height: $logo-height;
    margin: calc((64px - #{$logo-height}) / 2);
}

.logo-title {
    height: $logo-height;
    margin-top: calc((64px - #{$logo-height}) / 2);
    margin-bottom: calc((64px - #{$logo-height}) / 2);
}

// Search bar
.nav-wrapper .input-field input[type=search] {
	height: 64px;
}

// Ensure body is always using the maximum space available so footer stays at bottom
#app-body {
    display: flex;
    min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

// Ensure pointer is used for all links
a {
	cursor: pointer;
}

// Tag section
.tag-section {
    padding-top: 1rem;
    padding-bottom: 0rem;
}

// Reveal section comments
.card-reveal {
    overflow-y: hidden !important;
}

.card-reveal-comments {
    overflow-y: auto;
    height: calc(100% - 48px - #{$comment-button-height});
}

.collection .collection-item.avatar {
    min-height: unset !important;
}

.file-icon {
    content: "";
}